@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DomaineSansText-Medium';
    src: url('../fonts/DomaineSansText-Medium.eot');
    src: url('../fonts/DomaineSansText-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DomaineSansText-Medium.woff') format('woff'),
         url('../fonts/DomaineSansText-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MetroNovaPro-Light';
    src: url('../fonts/MetroNovaPro-Light.eot');
    src: url('../fonts/MetroNovaPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetroNovaPro-Light.woff') format('woff'),
         url('../fonts/MetroNovaPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MetroNovaPro-Medium';
    src: url('../fonts/MetroNovaPro-Medium.eot');
    src: url('../fonts/MetroNovaPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetroNovaPro-Medium.woff') format('woff'),
         url('../fonts/MetroNovaPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MetroNovaPro-ExtraBlack';
    src: url('../fonts/MetroNovaPro-ExtraBlack.eot');
    src: url('../fonts/MetroNovaPro-ExtraBlack.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MetroNovaPro-ExtraBlack.woff') format('woff'),
         url('../fonts/MetroNovaPro-ExtraBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

#loading, #loading_2
{
    background-color: white;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1170;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    
    display: none;
}

#loading_2
{
    display: block;
    background-color: #fff;
}

#loading img , #loading_2 img 
{
	width: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.navbar
{
	border: none;
    background-color: rgba(0,0,0,0.6);
    /*background-color: rgba(0,0,0,1);*/
    padding: 20px;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a 
{
    color: #b38f5a;
    font-family: 'DomaineSansText-Medium';
    font-size: 18px;
}

.navbar-brand
{
	padding: 0;
}
.navbar-brand>img
{
	height: 60px;
}

.tp-revslider-mainul
{
	padding: 0;
}

.forcefullwidth_wrapper_tp_banner
{
	margin-top: -20px !important;
}

.slider_div img
{
	width: 100%;
}

.slider_sep
{
	width: 100%;
	height: 5px;
	background-color: rgb(17,17,17);
}

.block_1_div, .block_3_div, .block_6_div
{
	position: relative;
}


.block_1_div img, .block_3_div img
{
  width: 100%;
}

.block_1_div_inner, .block_3_div_inner
{
	position: absolute;
    bottom: 0;
    padding: 4%;
    padding-bottom: 3%;
}

.block_1_div_inner p, .block_3_div_inner p
{
	color: #fff;
	font-size: 16px;
	margin: 0;
	text-align: center;
	font-family: 'MetroNovaPro-Light';
}

.block_2_div
{
	text-align: center;
	padding: 20px;
	background-color: rgb(17,17,17);
}

.block_2_div_spans
{
	display: block;
	font-size: 19px;
	color: #b38f5a;
	text-transform: uppercase;
}

.block_2_div_span_1
{
	font-family: 'MetroNovaPro-ExtraBlack';
	font-size: 25px;
    letter-spacing: 3px;
    margin-bottom: 7px;
}

.block_2_div_span_2
{
	font-family: 'MetroNovaPro-Medium';
	font-size: 14px;
    letter-spacing: 3px;
}

.blocks_bot
{
	/*background-image: url("../img/tall_pat_2.jpg");*/
  	background-position: 50% 50%;
  	background-repeat: no-repeat;
  	background-color: #16181a;
}

.block_4_div, .block_6_div
{
	padding: 20px;
	text-align: center;
	/*background-image: url("../img/tall_pat_2.jpg");
  	background-position: 50% 50%;
  	background-repeat: no-repeat;*/
}

.block_textured_span
{
	font-family: 'DomaineSansText-Medium';
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;

	 background:url('../img/text_texture.jpg');
    background-repeat:repeat-x;
    background-position: 50% 50%;
    text-transform:uppercase;
    text-align:center;
    color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:0;
}

#owl-demo
{
	margin-top: 30px;
}

.item img
{
	width: 70%;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.item img:hover {
	

	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);

	cursor: pointer;
} 

.item span
{
	font-family: 'DomaineSansText-Medium';
	font-size: 15px;
	color: #fff;
}

.block_5_div
{
	padding: 20px;
	padding-top: 3%;
	padding-bottom: 3%;

	text-align: center;
	background-color: rgba(0,0,0,0.26);
}

.block_5_div_title
{
	margin-bottom: 20px;
}

.block_5_div_inner_type
{
	padding: 20px;
	text-align: left;
}

.block_5_div_inner_type span
{
	font-family: 'DomaineSansText-Medium';
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}

.mobile_photos
{
	display: none;
}

.block_5_div_inner_type img
{
	width: 100%;
	margin-top: 10px;
}

.block_5_div_inner_2
{
	padding-top: 2%;
}

.block_5_div_inner_2_cols
{
	text-align: center;

}

.block_5_div_inner_2_cols_span
{
	font-family: 'DomaineSansText-Medium';
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;

	 background:url('../img/text_texture_2.jpg');
    background-repeat:repeat-x;
    background-position: 25%;
    text-transform:uppercase;
    text-align:center;
    color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
    margin:0;
}


.block_5_div_inner_2_cols ul
{
	font-family: 'MetroNovaPro-Light';
	font-size: 15px;
	color: #fff;
	text-align: center;
}

.block_5_div_inner_2_cols ul 
{
  list-style-type: none;
  padding: 0;
}

.block_5_div_inner_2_cols ul > li 
{
  text-indent: -5px;
}

.block_5_div_inner_2_cols ul > li:before 
{
  content: "-";
  text-indent: -5px;
  padding-right: 5px;
}

.block_7_div
{
	width: 100%;
	height: 500px;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
    background-size: cover !important;
}


.thank_bg
{
	position: relative;
}

.thank_bg img
{
	width: 100%;
}

.thank_you_div, .thank_you_div_2
{
	width: 40%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 4%;
    text-align: center;
    /*display: table;*/
    display: none;
}

.thank_you_div_2
{
	display: table;
	position: absolute;
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
    height: 50%;
}

.thank_you_div_inner, .thank_you_div_inner_2
{
	display: table-cell;
	vertical-align: middle;
}

.thank_you_div_inner span, .thank_you_div_inner_2 span
{
	font-family: 'MetroNovaPro-Medium';
	color: #fff;
	font-size: 24px;
	display: block;
	margin-bottom: 10px;
}

.block_7_div_inner
{
	width: 40%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-top: 4%;
    text-align: center;
}

.block_7_div_inner span
{
	font-family: 'MetroNovaPro-Medium';
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
}

.reg_form
{
	margin-top: 30px;
}

.form-control 
{
    width: 90%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #555;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: rgba(255,255,255,0.7);
	font-family: 'MetroNovaPro-Light';
	font-size: 20px;
	border-bottom: solid 1px rgba(255,255,255,0.7);
    border-radius: 0;
}

.form-control:focus
{
	border-color: #fff;
	box-shadow: none;
}

input::-webkit-input-placeholder{
color: rgba(255,255,255,0.7) !important;
font-family: 'MetroNovaPro-Light';
font-size: 20px;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: rgba(255,255,255,0.7) !important;
font-family: 'MetroNovaPro-Light';
font-size: 20px;
}
 
input:-ms-input-placeholder {  
color: rgba(255,255,255,0.7) !important;
font-family: 'MetroNovaPro-Light';
font-size: 20px;
}

input:focus::-webkit-input-placeholder {
    color: #fff !important;
}

input:focus, select:focus{
    color: #fff !important;
}

select
{
	-webkit-appearance: none;
}

.submit_btn
{
	font-family: 'MetroNovaPro-Medium';
    color: rgba(255,255,255,0.7);
    background-color: transparent;
    font-size: 18px;
    border-width: 2px;
    border-color: rgba(255,255,255,0.7);
    border-radius: 30px;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
}

.submit_btn:hover
{
	color: #fff;
	border-color: #fff;
    background-color: rgba(255,255,255,0.3);
}

#gform_wrapper_1, .gform_confirmation_message_1, .gform_confirmation_message_2
{
	display: none;
}

.block_6_div
{
	background-color: #16181a;
	padding: 4%;
    /*padding-top: 20px;*/
}

.block_6_div_inner
{
	color: #fff;
    font-size: 14px;
    margin: 0;
    text-align: center;
    font-family: 'MetroNovaPro-Light';
    margin-top: 20px;
}

.block_7
{
	width: 70%;
	padding: 15px;
	background:url('../img/text_texture.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
}

.maps 
{
	width: 100%;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.footer
{
	background-color: #212325;
	padding: 20px;
	width: 100%;
}

.footer_left
{
	text-align: left;
}

.footer_left_spans
{
	display: block;
	color: #fff;
	font-size: 14px;
}

.footer_left_span_1
{
	font-family: 'Roboto-Bold';
}

.footer_left_span_2
{
	font-family: 'Roboto-Regular';
}

.footer_left_span_3
{
	font-family: 'DomaineSansText-Medium';
	margin-top: 6px;
	font-size: 12px;
}



.footer_right
{
	text-align: right;
	display: table;
}

.footer_right_top img
{
	width: 25px;
	display: inline-block;
	margin-right: 10px;
}

.footer_right_top img:hover
{
	cursor: pointer;
	opacity: 0.75;
}

.footer_right_span
{
	font-family: 'DomaineSansText-Medium';
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    margin-right: 16px;
}

.footer_right_top
{
	display: table-cell;
    vertical-align: middle;
}

a:focus, a:hover 
{
    color: #fff;
    text-decoration: none;
}

.slides, .flexslider .slides > li
{
    /*width: 100% !important;*/
}

/********/
#imagelightbox
{
    cursor: pointer;
    position: fixed;
    z-index: 10000;

    -ms-touch-action: none;
    touch-action: none;

    -webkit-box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
    box-shadow: 0 0 3.125em rgba( 0, 0, 0, .75 ); /* 50 */
}

/* OVERLAY */

#imagelightbox-overlay
{
    background-color: #fff;
    background-color: rgba( 255, 255, 255, .9 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* "CLOSE" BUTTON */

#imagelightbox-close
{
    width: 2.5em; /* 40 */
    height: 2.5em; /* 40 */
    text-align: left;
    background-color: #00aebd;
    border-radius: 50%;
    border: none;
    position: fixed;
    z-index: 10002;
    top: 2.5em; /* 40 */
    right: 2.5em; /* 40 */

    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}
    #imagelightbox-close:hover,
    #imagelightbox-close:focus
    {
        background-color: #1aaa8f;
    }
    #imagelightbox-close:before,
    #imagelightbox-close:after
    {
        width: 2px;
        background-color: #fff;
        content: '';
        position: absolute;
        top: 20%;
        bottom: 20%;
        left: 50%;
        margin-left: -1px;
    }
    #imagelightbox-close:before
    {
        -webkit-transform: rotate( 45deg );
        -ms-transform: rotate( 45deg );
        transform: rotate( 45deg );
    }
    #imagelightbox-close:after
    {
        -webkit-transform: rotate( -45deg );
        -ms-transform: rotate( -45deg );
        transform: rotate( -45deg );
    }


/* NAVIGATION */

#imagelightbox-nav
{
    background-color: #444;
    background-color: rgba( 0, 0, 0, .5 );
    border-radius: 20px;
    position: fixed;
    z-index: 10001;
    left: 50%;
    bottom: 3.75em; /* 60 */
    padding: 0.313em; /* 5 */

    -webkit-transform: translateX( -50% );
    -ms-transform: translateX( -50% );
    transform: translateX( -50% );
}
    #imagelightbox-nav button
    {
        width: 1em; /* 20 */
        height: 1em; /* 20 */
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.313em; /* 5 */
    }
    #imagelightbox-nav button.active
    {
        background-color: #fff;
    }


/* ARROWS */

.imagelightbox-arrow
{
    width: 3.75em; /* 60 */
    height: 7.5em; /* 120 */
    background-color: #00aebd;
    vertical-align: middle;
    display: none;
    border: none;
    position: fixed;
    z-index: 10001;
    top: 50%;
    margin-top: -3.75em; /* 60 */
}
.imagelightbox-arrow:hover,
.imagelightbox-arrow:focus
{
    background-color: #1aaa8f;
}
.imagelightbox-arrow:active
{
    background-color: #111;
}
    .imagelightbox-arrow-left
    {
        left: 2.5em; /* 40 */
    }
    .imagelightbox-arrow-right
    {
        right: 2.5em; /* 40 */
    }
    .imagelightbox-arrow:before
    {
        width: 0;
        height: 0;
        border: 1em solid transparent;
        content: '';
        display: inline-block;
        margin-bottom: -0.125em; /* 2 */
    }
        .imagelightbox-arrow-left:before
        {
            border-left: none;
            border-right-color: #fff;
            margin-left: -0.313em; /* 5 */
        }
        .imagelightbox-arrow-right:before
        {
            border-right: none;
            border-left-color: #fff;
            margin-right: -0.313em; /* 5 */
        }

#imagelightbox-loading,
#imagelightbox-overlay,
#imagelightbox-close,
#imagelightbox-caption,
#imagelightbox-nav,
.imagelightbox-arrow
{
    -webkit-animation: fade-in .25s linear;
    animation: fade-in .25s linear;
}
    @-webkit-keyframes fade-in
    {
        from    { opacity: 0; }
        to      { opacity: 1; }
    }
    @keyframes fade-in
    {
        from    { opacity: 0; }
        to      { opacity: 1; }
    }

@media only screen and (max-width: 41.250em) /* 660 */
{
    #container
    {
        width: 100%;
    }
    #imagelightbox-close
    {
        top: 1.25em; /* 20 */
        right: 1.25em; /* 20 */
    }
    #imagelightbox-nav
    {
        bottom: 1.25em; /* 20 */
    }

    .imagelightbox-arrow
    {
        width: 2.5em; /* 40 */
        height: 3.75em; /* 60 */
        margin-top: -2.75em; /* 30 */
    }
    .imagelightbox-arrow-left
    {
        left: 1.25em; /* 20 */
    }
    .imagelightbox-arrow-right
    {
        right: 1.25em; /* 20 */
    }
}

@media only screen and (max-width: 20em) /* 320 */
{
    .imagelightbox-arrow-left
    {
        left: 0;
    }
    .imagelightbox-arrow-right
    {
        right: 0;
    }
}


.fancybox-opened .fancybox-skin, .fancybox-skin
{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: none !important;
}

.fancybox-skin
{
	padding: 5px !important;
}


@media only screen and (max-width: 1000px) {

	.block_1_div_inner p, .block_3_div_inner p
	{
		font-size: 13px;
	}

	.block_2_div_span_1
	{
	    font-size: 21px;
	}

	.block_2_div_span_2 
	{
	    font-size: 12px;
	}

}

@media only screen and (min-width: 768px) {

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
{
	margin-left: 0;
}

.navbar-nav 
{
    float: right;
    /*padding-right: 20px;*/
}

}

@media only screen and (max-width: 768px) {

	
	.block_1_div_inner, .block_3_div_inner
	{
		position: relative;
		background-color: rgba(17,17,17,0.9);
	}

	.block_5_div_inner_type
	{
		text-align: center;
	}

	.block_5_div_inner_2_cols 
	{
    	margin-bottom: 25px;
	}

	.desk_photos
	{
		display: none;
	}

	.mobile_photos
	{
		display: block;
	}

	.block_7_div
	{
		/*height: min-content;*/
		min-height: 300px;
	}

	.block_7_div_inner, .thank_you_div
	{
		width: 70%;
	}

	.block_7_div_inner span
	{
		font-size: 21px;
	}

	input::-webkit-input-placeholder{
	font-size: 15px;
	}
	 
	input:-moz-placeholder { /* Firefox 18- */
	font-size: 15px;
	}
	 
	input:-ms-input-placeholder {  
	font-size: 15px;
	}

	.submit_btn 
	{
	    font-size: 14px;
	    width: 40%;
	}

	.block_7
	{
		width: 90%;
	}

	.navbar-brand>img
	{
		height: 40px;
	}

	.navbar-default .navbar-collapse
	{
		border: none;
	}

	.footer_left
	{
		text-align: center;
	}

	.footer_right 
	{
	    display: block;
	    text-align: center;
	}

	.footer_right_top 
	{
	    display: block;
	    margin-top: 20px;
	}

	.thank_you_div_2 
	{
	    position: relative;
	    width: 100%;
	    height: inherit;
	}

}

@media only screen and (max-width: 550px) {

	.block_textured_span
	{
		font-size: 21px;
	}

	.block_6_div_inner
	{
		font-size: 14px;
		padding: 20px;
	}

	.block_7_div_inner span, .thank_you_div_inner span
	{
		font-size: 17px;
	}

	.maps
	{
		height: 300px;
	}

}


@media only screen and (max-width: 420px) {

	.block_1_div_inner p, .block_3_div_inner p
	{
		font-size: 11px;
	}

	.block_2_div_span_1 
	{
	    font-size: 17px;
	    margin-bottom: 15px;
	}

	.block_textured_span
	{
		font-size: 18px;
	}

}